# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Out Folders and Data Folders #
Data/*
out
target
src/test
src/main/resources
.idea

#but the sample NY dataset.
!Data/C9_NY
